<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatAppUsingFireBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84D4CD841FE7F10900940CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D4CD9B1FE7F10E00940CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D4CDA61FE7F10F00940CEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
